html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   outline: none;
 }
 button {
   cursor: pointer;
 }
 
 body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   font-size: 1rem;
 }
 
 [data-app='calendar-app'] {
   margin: 20px;
 }
 
 .calendar-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 800px;
   margin: 0 auto;
   min-height: 60px;
 }
 .calendar-nav * {
   flex: 1 1 200px;
   text-align: center;
 }
 .calendar-nav button {
   height: 50px;
   background: transparent;
   border: none;
   color: transparent;
 }
 
 #prev-month::before {
   content: '<';
   color: black;
   font-size: 40px;
 }
 
 #next-month::after {
   content: '>';
   color: black;
   font-size: 40px;
 }
 
 .calendar-grid {
   display:grid;
   border: 1px solid black;
   padding: 10px;
   grid-template-columns: repeat(7, 1fr);
   gap: 8px;
   text-align: center;
 }
 
 .calendar-grid  div {
   padding: 10px;
   margin: 0 auto;
 }
 .prev, .next {
   color: #bbb;
 }
 
 .today {
   border: 1px solid black;
   border-radius: 50%;
   background-color: black;
   color:white;
   font-weight:bold;
 }