h2 {
  text-align: center;
}

.salida {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  width: 30%;
  height: 8rem;
  margin: 1rem 35%;
  border: 1px solid black;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}

.color-div {
  text-align: center;
}

.listItem {
  margin: 0.5rem;
  padding: 0;
  display: inline;
}
