html{
   margin: 10px;
   background-color: darkseagreen
}
body{
   padding: 10px;
   margin: 1rem;
   background-color: lightseagreen;
}

.navbar{
   background-color: darkseagreen;
   padding: 1rem 1rem;
}

.calendar-container{
   display: -ms-flexbox;

}