body,html{
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.nav{
  padding: 0;
  margin: 0;

}

.nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  word-spacing: 1px;
}

.nav p{
  background-color: aqua;
}

.mainComponent{
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: 0;
  padding: 0 1rem;
  background-color: #739ef3;
  /* min-height: 10vh; */
  /* display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
