body {
  background-color: #1d3c41;
}

.container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
}

.text {
  margin: 0.5rem;
  padding: 0.3rem;
  font-family: "Cascadia Code PL";
  font-weight: 1000;
  background-color: teal;
  font-size: 18px;
  width: 100%;
  border: 1px ridge black;
}

iframe {
  margin: 0.5rem;
  padding: 0.1rem;
  width: 100%;
  font-weight: 1000;
  background-color: whitesmoke;
  border: none;
}
